@tailwind components;
@tailwind utilities;

/* smooth transition in for every page */
@keyframes pageFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* define the default design of the whole body */
body {
  background: linear-gradient(to right, #7cd1f5, #bda4e8);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: black;
  opacity: 0;
  transform: translateY(20px);
  animation: pageFadeIn 1s ease-out forwards;
}

/* allow scrolling although scrollbar is hidden */
body {
  scrollbar-width: none;  /* for Firefox */
}
body::-webkit-scrollbar {
  display: none;  /* for Webkit-based browsers (Chrome, Safari, Edge) */
}
