@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right, #7cd1f5, #bda4e8);  /* Example gradient */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: black;
  }